.footer {
  background: #f8fbff;
  box-sizing: border-box;
}
.footer-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ft-social {
  text-align: end;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
}

.social-icons a {
  text-decoration: none;
}
.social-icons img {
  width: 60px;
  height: 60px;
}
.footer-details {
  display: none;
}
@media screen and (max-width: 940px) {
  .footer-details {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ft-social {
    text-align: center;
  }
}
