.Navbar {
  background: #f8fbff;
  box-sizing: border-box;
}

.logo img {
  height: 40px;
}
@media screen and (max-width: 940px) {
  .navbar-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
